/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%; 
}

/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	left: 25px;
	top: 230px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
 	display: block;
	position: relative;
	z-index: 9999;
    height: 45px;
    padding: 12px 12px; 
}

.no-touch .cbp-fbscroller > nav a:hover {
/*	background: rgba(255,255,255,0.6);*/
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
	z-index: 10000;
	background-image: url('data:image/gif;base64,R0lGODlhKAAtANUAAAAAAP////8AAP8BAf8CAv8DA/8EBP8FBf8GBv8HB/8ICP8JCf8KCv8MDP8NDf8ODv8PD/8REf8TE/8UFP8VFf8WFv8YGP8ZGf8aGv8bG/8dHf8eHv8fH/8gIP8iIv8jI/8kJP8mJv8nJ/8pKf8sLP8uLv8xMf80NP81Nf82Nv83N/86Ov87O/88PP89Pf9AQP9DQ/9ERP9JSf9LS/9WVv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAADUALAAAAAAoAC0AAAb/wJpwSCwaj8ikcslsOp/QqHRKrVqLm9OQkrkmXQKBEBVOeY9hsTB9Ln7Cm2Em3G2vw0W2PRIOFUthEW0zYQVHCmEwZwlhK0cwYQNeLGEQSQ1hJldpNEp6VBphF0seYR1VkU0HeFMYmU0tlUoraWmCBgKGZLW8AiI1CwIHNRC1HEPFvUIgd728y82pQ4i9LjUluM69IzUyBLwvRdTa5OVpJEYb5uvkSL0NEQhhBxINA2mWyYLBtQTuzzWyGapxjxUDVvJqWTqyqla0hzX09EJ3pAJAhxElslKGJMZFjRtDppGU5KNINSDDMFBSAKNLkNEEfFAy4eXJZjGXeEwJMaUaP088M4qMhoDJNwEkGw4jqMcBq3F1lGBCKsECtQQaIhwVYKGGRQFdHqQJt0QFO3ZOzporaqet27dw48qdS9dIEAA7') ;
	height: 51px;
	width: 40px;
	}

/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}

#fbsection1,#fbsection2,#fbsection3,#fbsection4 {
	background-image: url(../images/background.jpg);
	font-family:Arial;
	color:black;
	text-align: center;
}